<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolocation Search</title>
</head>
<body>
    <h1>YouTube Search</h1>
    <form action="/search" method="get">
        <input placeholder="동영상 검색" required name="word"/>
        <button>검색</button>
    </form>
    <!-- <h1>썸네일까지 띄워보기</h1>
    <form action="/temp" method="get">
        <a href="/temp">검색 결과로 가기</a>
    </form> -->
</body>
</html>