<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <style>
        section {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    </style>
</head>
<body>
    <h1>Search Results</h1>
    <h3>Found {{results_number}} results for <span style="color: red">{{searchingBy}}</span></h3>
    <a href="/">To Main</a>
    <section>
        <h4>Thumbnail</h4>
        <h4>Title(Link)</h4>
        <h4>Latitude / Longitude</h4>
        {% for v in videos %}
            <img src="http://i.ytimg.com/vi/{{ids[loop.index-1]}}/mqdefault.jpg" alt="">
            <a href="https://youtube.com/watch?v={{ids[loop.index-1]}}">{{v.title}}</a>
            <span>{{v.latitude}} / {{v.longitude}}</span>

        {% endfor %}
    </section>
</body>
</html>