<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <style>
        section {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    </style>
</head>
<body>
    <h1>Search Results</h1>
    <section>
        <h4>Title</h4>
        <h4>ID</h4>
        <h4>Thumbnails</h4>
        {% for d in data %}
            <span>{{d.title}}</span>
            <span>{{d.thumbnails}}</span>
            <span>{{d.videoId}}</span>
        {% endfor %}
    </section>
</body>
</html>